*{
  margin: 0;
  padding: 0;
  background-color: rgb(234, 199, 188)
}
.img{
  padding-left: 256px;


}
.menu ul{
  
  padding-left: 32px;
  padding-bottom: 0px;
  margin-top: -800px;
  font-size: 25px;
  cursor: pointer;
}
.menu ul li{
  font-size: 34px;
  margin-top: 126px;
}
.main h1{
  margin-top: -600px;
  padding-left: 600px;
  font-size: 83px;
  
}
.logo h6{

  padding-left: 943px;
  font-size: 20px;
  
}

.statement{

  margin-top: 661px;
  padding-left: 626px;
  font-size: 40px;


}
.theroy h6{
  font-size: 26px;
  margin-top: 56px;
  color: blueviolet;
  margin-left: 260px;


}
footer {
  
  text-align: end;
  margin-top: 80px;
  font-size: 20px;


}